.env
myenv/
*.json
!rune_mint_data.json
!coins.json
!/historical/data_2024-04-26.json
!favorite_coins_fallback.json
!alerts_fallback.json
!favorite_runes_fallback.json
test.py
/__pycache__/
__pycache__/ofa.cpython-312.pyc
__pycache__/utils.cpython-312.pyc
